<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>blog_form</title>
</head>
<body>
<h1 ><center>Vasu's Blog</center></h1>
<br>
<br>

<form method="post">
    <label>
        <div><h2>Subject</h2></div>
        <input type="text" name="Subject" size="50">
    </label>

    <label>
        <div><h2>Blog</h2></div>
        <textarea name="Blog" rows="25" cols="50"></textarea>
    </label>
    <br>
    <input type="submit" size="10">

    <div class="error">{{error}}</div>
</form>

</body>
</html>